graft src
graft tests

recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include docs *.png
recursive-include docs *.svg
recursive-exclude docs/img *.png
global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle

prune docs/build
prune docs/_data
exclude docs/*.md
exclude docs/_config.yml

exclude .appveyor.yml .bumpversion.cfg .coveragerc .flake8 .travis.yml .readthedocs.yml tox.ini .pre-commit-config.yaml
include LICENSE *.md *.rst
