<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <style>
                html, body {
                    height: 100%;
                }

                body {
                    display: flex;
                    flex-flow: column;
                }

                .footer {
                    margin-top: auto;
                    padding-top: 1em;
                    background-color: #f5f5f5;
                }
            </style>
        {% endblock %}

        <script src="https://kit.fontawesome.com/4c86883252.js" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{{ config.METAREGISTRY_DESCRIPTION }}" />
        <link rel="icon" type="image/svg+xml" href="/static/logo.svg">
    {% endblock %}
</head>
<body {% block bodyattr %}{% endblock %}>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for("metaregistry_ui.home") }}">
        <img src="{{ url_for('static', filename='logo.svg') }}" width="30" height="30" alt="">
        {{ config.METAREGISTRY_TITLE }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for("metaregistry_ui.resources") }}">Registry</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for("metaregistry_ui.metaresources") }}">Metaregistry</a>
            </li>
            {% if manager.collections | length > 0 %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for("metaregistry_ui.collections") }}">Collections</a>
            </li>
            {% endif %}
            {% if config.METAREGISTRY_FIRST_PARTY %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for("metaregistry_ui.contexts") }}">Contexts</a>
            </li>
            {% endif %}

            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if config.METAREGISTRY_FIRST_PARTY %}
                    <a class="dropdown-item" href="{{ url_for("metaregistry_ui.summary") }}">Summary</a>
                    {% else %}
                    <a class="dropdown-item" target="_blank" href="https://bioregistry.io/summary">
                        Summary <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                    <a class="dropdown-item" target="_blank" href="https://biopragmatics.github.io/bioregistry/glossary/">
                        Glossary <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                    <a class="dropdown-item" target="_blank" href="https://biopragmatics.github.io/bioregistry/datamodel/">
                        Data Model <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                    <a class="dropdown-item" href="{{ url_for("metaregistry_ui.schema") }}">JSON and RDF Schemata</a>
                    {% if config.METAREGISTRY_FIRST_PARTY %}
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Maitenance</h6>
                    <a class="dropdown-item" href="{{ url_for("metaregistry_ui.sustainability") }}">Deployment and Sustainability</a>
                    <a class="dropdown-item" target="_blank" href="https://biopragmatics.github.io/bioregistry/health/">
                        Health Report <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Attribution</h6>
                    <a class="dropdown-item" href="{{ url_for("metaregistry_ui.related") }}">Related Work</a>
                    <a class="dropdown-item" href="{{ url_for("metaregistry_ui.contributors") }}">Contributors</a>
                    <a class="dropdown-item" href="{{ url_for("metaregistry_ui.acknowledgements") }}">How to Cite and Acknowledge</a>
                    <!--<div class="dropdown-divider"></div>-->
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Workshops</h6>
                    <a class="dropdown-item" target="_blank" href="https://biopragmatics.github.io/workshops/WPCI2021">
                        WPCI 2021 <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                    <a class="dropdown-item" target="_blank" href="https://biopragmatics.github.io/workshops/WPCI2022">
                        WPCI 2022 <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                </div>
            </li>
            {% if config.METAREGISTRY_FIRST_PARTY %}
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Contribute
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <h6 class="dropdown-header">Project Info</h6>
                    <a class="dropdown-item" target="_blank" href="https://github.com/biopragmatics/bioregistry/blob/main/docs/CONTRIBUTING.md">
                        Contribution Guidelines <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                    <a class="dropdown-item" target="_blank" href="https://github.com/biopragmatics/bioregistry/blob/main/docs/CODE_OF_CONDUCT.md">
                        Code of Conduct <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                    <a class="dropdown-item" target="_blank" href="https://github.com/biopragmatics/bioregistry/blob/main/docs/GOVERNANCE.md">
                        Project Governance <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Getting Started</h6>
                    <a class="dropdown-item" target="_blank" href="https://github.com/biopragmatics/bioregistry/issues/new?labels=New%2CPrefix&template=new-prefix.yml&title=Add+prefix+%5BX%5D">
                        Request a Prefix <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                    <a class="dropdown-item" target="_blank" href="https://biopragmatics.github.io/bioregistry/curation/">
                        Good First Contributions <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                    <!--<div class="dropdown-divider"></div>-->
                </div>
            </li>
            {% endif %}
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Access
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if config.METAREGISTRY_FIRST_PARTY %}
                    <a class="dropdown-item" href="{{ url_for('metaregistry_ui.download') }}">Downloads</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ url_for('metaregistry_ui.apidocs') }}">API Documentation</a>
                    <a class="dropdown-item" href="{{ url_for("metaregistry_ui.usage") }}">Programmatic Usage Guide</a>
                </div>
            </li>
        </ul>
        {% if config.METAREGISTRY_VERSION %}
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item active">
                <span class="text-muted">
                    Version {{ config.METAREGISTRY_VERSION }}
                </span>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>

{% block main %}
    <div class="container" style="margin-top: 50px; margin-bottom: 50px">
        <div class="row justify-content-center">
            <div {% block containerattr %}class="col-md-10 col-lg-10"{% endblock %}>
                {% block container %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

<footer class="footer">
    <p class="small text-center text-muted">
        {{ config.METAREGISTRY_FOOTER | safe }}
    </p>
</footer>

{% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
{% endblock %}
</body>
</html>
