{% extends "base.html" %}
{% import "macros.html" as utils %}

{% block title %}{{ config.METAREGISTRY_TITLE }} - {{ entry.name }}{% endblock %}

{% block container %}
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-8">
                    <h5 style="margin: 0"><a href="{{ url_for("metaregistry_ui.collections") }}">Collections</a>
                        <i class="fas fa-angle-right"></i> {{ entry.name }}</h5>
                </div>
                <div class="col-4 text-right">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-outline-dark dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Download
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for label, key in formats %}
                                <a class="dropdown-item"
                                   href="{{ fastapi_url_for("get_collection", identifier=identifier) }}?format={{ key }}">
                                    {{ label }} <i class="fas fa-download"></i>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            {{ markdown(entry.description) | safe }}
            <dl>
                <dt>Identifier</dt>
                <dd><code>{{ identifier }}</code></dd>
                <dt>Contributors</dt>
                <dd>
                    {% for author in entry.authors %}
                        <a href="{{ url_for("metaregistry_ui.contributor", orcid=author.orcid) }}">
                            {{ author.name }}
                            <i class="fab fa-orcid"></i>
                        </a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </dd>
                {% if entry.references %}
                    <dt>References</dt>
                    {% for reference in entry.references %}
                        <dd><a href="{{ reference }}">{{ reference }}</a></dd>
                    {% endfor %}
                {% endif %}
                <dt>Resources ({{ entry.resources | length }})</dt>
                <dd>
                    <ul>
                        {% for prefix in entry.resources %}
                            <li>
                                <a href="{{ url_for("metaregistry_ui.resource", prefix=prefix) }}">
                                    {{ resources[prefix].get_name() }} (<code>{{ prefix }}</code>)
                                </a>
                                {{ utils.render_resource_warnings(resources[prefix]) }}
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
{% endblock %}
