{% extends "base.html" %}

{% block title %}Bioregistry{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    $(".basicAutoComplete").autoComplete({
        resolverSettings: {
            url: "{{ url_for('api.search') }}"
        }
    });
    </script>
{% endblock %}

{% block container %}
    <div class="card">
        <h5 class="card-header">Bioregistry</h5>
        <div class="card-body">
            <div class="row justify-content-center" style="margin-top:1em; margin-bottom: 2em;">
                <a class="btn btn-primary btn-lg" href="{{ example_url }}">
                    Resolve identifiers like <span class="badge badge-dark">{{ example_url }}</span>
                    <i class="fas fa-share-square"></i>
                </a>
            </div>

            <!--<a href={{ swagger_url }}>Swagger UI</a>-->
            <p>
                The Bioregistry is a:
            </p>
            <dl class="row">
                <dt class="col-lg-2 text-right text-nowrap">Registry</dt>
                <dd class="col-lg-10">
                    A collection of metadata about ontologies, controlled vocabularies, and resources. Some other
                    well-known registries are the <a href="http://www.obofoundry.org/">OBO Foundry</a>,
                    <a href="https://identifiers.org">Identifiers.org</a>,
                    the <a href="https://www.ebi.ac.uk/ols/index">OLS</a>,
                    <a href="https://bioportal.bioontology.org/">BioPortal</a>,
                    and <a href="https://prefixcommons.org/">Prefix Commons</a>.
                </dd>
                <dt class="col-lg-2 text-right text-nowrap">Metaregistry*</dt>
                <dd class="col-lg-10">
                    A collection of metadata about registries and mappings between the resources they describe. For
                    example, <a href="https://www.ebi.ac.uk/chebi">ChEBI</a> appears in all of the example registries
                    from above.
                </dd>
                <dt class="col-lg-2 text-right text-nowrap">Resolver</dt>
                <dd class="col-lg-10">
                    A tool for mapping CURIEs of the form <code>prefix:identifier</code> to HTML and structured content
                    providers. Some other well-known resolvers are <a href="https://identifiers.org">Identifiers.org</a>
                    and <a href="https://n2t.net/">Name-To-Thing</a>.
                </dd>
            </dl>
            <p>The Bioregistry is different from similar tools:</p>
            <dl class="row">
                <dt class="col-lg-2 text-right text-nowrap">Open Source</dt>
                <dd class="col-lg-10">
                    Anyone can make updates by pull requesting against the single source of truth JSON
                    "database". There are clear contribution guidelines and several potential reviewers. Automated
                    testing notifies contributors of mistakes or omissions before review.
                </dd>
                <dt class="col-lg-2 text-right text-nowrap">Automated</dt>
                <dd class="col-lg-10">
                    Continuous integration is used to automatically update the database nightly and align with other
                    registries. It suggests new curations to help maintain the community's semantic health.
                </dd>
                <dt class="col-lg-2 text-right text-nowrap">Extensible</dt>
                <dd class="col-lg-10">
                    The underlying codebase can also be improved to add new features. It's all written in idiomatic,
                    high quality Python code.
                </dd>
            </dl>
            <p>The Bioregistry is <strong>not</strong> a:</p>
            <dl class="row">
                <dt class="col-lg-2 text-right">Lookup Service</dt>
                <dd class="col-lg-10">
                    A service that provides information about an entity based on its prefix/identifier pair. Some
                    well-known lookup services are the <a href="https://www.ebi.ac.uk/ols/index">OLS</a>,
                    <a href="http://www.ontobee.org/">OntoBee</a>, and
                    <a href="https://bioportal.bioontology.org/">BioPortal</a>.
                </dd>
            </dl>

            <div class="row justify-content-center" style="margin-top:1em; margin-bottom: 1em;">
                <a class="btn btn-success btn-lg" href="{{ url_for('ui.resources') }}">
                    View the registry&nbsp;<i class="fas fa-share-square"></i>
                </a>
            </div>
        </div>
        {#
        <div class="card-body">
            <h5 class="card-title">Prefix Search</h5>
            <div class="input-group mb-3">
                <input type="text"
                       class="form-control basicAutoComplete"
                       autocomplete="off"
                       placeholder="Search for a prefix"
                       aria-label="Search for a prefix"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" value="Search">
                </div>
            </div>
        </div>
         #}
    </div>
{% endblock %}

