{%- extends "base.html" %}
{%- import "macros.html" as utils %}

{%- block title %}NFDI Dashboard{% endblock %}

{%- macro external_mapping_card(title, external_prefix, mappings) %}
<div class="card mt-4">
    <div class="card-header">{{ title }} Collection Mapping</div>
    <div class="card-body">
        {%- if external_prefix == "tib.collection" %}
        Import of TIB OLS collections was implemented in
        <a href="https://github.com/biopragmatics/bioregistry/pull/1762">#1762</a>.
        The data can be synced by running <code>python -m bioregistry.curation.nfdi_collections</code>.
        {%- else %}
        Import of BARTOC collections is planned in
        <a href="https://github.com/biopragmatics/bioregistry/issues/1817">#1817</a>.
        {%- endif %}
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Collection</th>
            <th>Name</th>
            <th>{{ title }} Collection</th>
        </tr>
        </thead>
        <tbody>
        {%- for collection_id, external_id in mappings.items() %}
        <tr>
            <td>
                <a href="{{ url_for('metaregistry_ui.collection', identifier=collection_id) }}">
                    {{ collection_id }}
                </a>
            </td>
            <td>{{ collections[collection_id].name }}</td>
            <td>
                <a href="{{ url_for('metaregistry_ui.resolve', prefix=external_prefix, identifier=external_id) }}">
                    {{ external_id }}
                </a>
            </td>
        </tr>
        {%- endfor %}
        </tbody>
    </table>
</div>
{%- endmacro %}

{%- block container %}
<div class="card">
    <div class="card-header">
        NFDI Dashboard
    </div>
    <div class="card-body">
        <div class="card-text">
            <p>Consortia with maintainer:</p>
            <ol>
                {%- for collection in collections.values() %}
                {%- if collection.maintainers %}
                <li>
                    <a href="{{ url_for('.collection', identifier=collection.identifier) }}">
                        {{ collection.name.removesuffix(" Collection").removesuffix(" Resoures") }}
                    </a>
                    ({{ collection.resources|length }})
                    <ul>
                        {% for maintainer in collection.maintainers %}
                        <li>{{ maintainer.name }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {%- endif %}
                {%- endfor %}
            </ol>
            <p>Consortia whose collections don't yet have a maintainer:</p>
            <ol>
                {%- for collection in collections.values() %}
                {%- if not collection.maintainers %}
                <li>
                    <a href="{{ url_for('.collection', identifier=collection.identifier) }}">
                        {{ collection.name.removesuffix(" Collection").removesuffix(" Resoures") }}
                    </a>
                    ({{ collection.resources|length }})
                </li>
                {%- endif %}
                {%- endfor %}
            </ol>
            <p>Consortia whose collections haven't been populated:</p>
            <ol>
                {%- for collection in collections.values() %}
                {%- if collection.resources|length == 1 %}
                <li>
                    <a href="{{ url_for('.collection', identifier=collection.identifier) }}">
                        {{ collection.name.removesuffix(" Collection").removesuffix(" Resoures") }}
                    </a>
                    {%- if collection.maintainers %}
                    {%- for maintainer in collection.maintainers %}
                    ({{ maintainer.name }})
                    {%- endfor %}
                    {%- endif %}
                </li>
                {%- endif %}
                {%- endfor %}
            </ol>
        </div>

    </div>
</div>

{{ external_mapping_card("TIB", "tib.collection", tib_collection_mappings) }}

{{ external_mapping_card("BARTOC", "bartoc", bartoc_collection_mappings) }}

<div class="card mt-4">
    <div class="card-header">
        TIB OLS Opportunities
    </div>
    <div class="card-body">
        <p>
            There are {{ tib_opportunities | length }} ontologies appearing in NFDI collections
            that have concrete download links in {{ config.METAREGISTRY_TITLE }}, but are not
            yet indexed in the TIB OLS.
            <a class="badge badge-pill badge-light"
               href="{{ fastapi_url_for('get_ols_configurations', prefixes=tib_opportunities | join(',')) }}">
                Download All OLS Configurations <i class="bi bi-cloud-arrow-down-fill"></i>
            </a>
        </p>

    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Collection</th>
            <th>Name</th>
            <th># Ontologies</th>
            <th>Example</th>
            <th>OLS Config.</th>
        </tr>
        </thead>
        <tbody>
        {% for collection_id, prefixes in collection_to_tib_opportunities.items() %}
        <tr>
            <td>
                <a href="{{ url_for('metaregistry_ui.collection', identifier=collection_id) }}">
                    {{ collection_id }}
                </a>
            </td>
            <td>{{ collections[collection_id].name }}</td>
            <td align="right">{{ prefixes | length }}</td>
            <td>
                <a href="{{ url_for('metaregistry_ui.resource', prefix=prefixes[0]) }}">
                    {{ manager.get_name(prefixes[0]) }} (<code>{{ prefixes[0] }}</code>)
                </a>
            </td>
            <td align="center">
                <a href="{{ fastapi_url_for('get_ols_configurations', prefixes=prefixes | join(',')) }}">
                    <i class="bi bi-cloud-arrow-down-fill"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{%- endblock %}
