{% extends "prose.html" %}

{% block title %}Related{% endblock %}

{% block styles %}
    {{ super() }}
    <!-- DataTables, see: https://datatables.net/examples/styling/bootstrap4.html-->
    <link
            rel="stylesheet"
            href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"
    />
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- DataTables, see: https://datatables.net/examples/styling/bootstrap4.html-->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#comparison").DataTable({
                scrollX: true
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2>Comparison Table</h2>
    <p>Some text</p>
    <table id="comparison" class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>Registry</th>
            <th>Name</th>
            <th>Homepage</th>
            <th>Description</th>
            <th>Example</th>
            <th>Pattern</th>
            <th>Alternate Providers</th>
            <th>Alternate Prefixes</th>
            <th>License</th>
            <th>Version</th>
            <th>Contact</th>
            <th>FAIR</th>
            <th>Search</th>
            <th>Provider</th>
            <th>Resolver</th>
            <th>Lookup</th>
        </tr>
        </thead>
        <tbody>
        {% for row in comparison_rows %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Conversion between CURIEs and IRIs</h2>
    <p>
        The semantic web and ontology communities are bound to the use of IRIs as identifiers and therefore are very
        interested in the interconversion between compact identifiers (i.e., CURIEs) and IRIs. While the Bioregistry
        provides many tools for one way conversion from CURIEs to IRIs, there are several related packages that help
        parse CURIEs from IRIs:
    </p>
    <ul>
        <li>
            The <a href="https://www.npmjs.com/package/@geneontology/dbxrefs">@geneontogy/dbxrefs</a> Node.js package
            translates CURIEs into URLs using the Gene Ontology Registry.
        </li>
        <li>
            The <a href="https://github.com/geneontology/curie-util-py">curie-util-py</a> Python package more generally
            loads JSON-LD files to convert between IRIs and CURIEs.
        </li>
        <li>
            The <a href="https://github.com/prefixcommons/biocontext">BioContext</a> Python package generates URIs from
            CURIEs based on information from the OBO Registry, Identifiers.org, the Gene Ontology Registry, and from the
            Monarch Initiative. This package makes several assumptions about what the "correct" IRIs are in the
            "semantic web".
        </li>
    </ul>
{% endblock %}
